.wrapper {
  display: grid;
  transition-property: grid-template-rows, visibility;
  transition-duration: 0.3s;
}

.is_state_closed {
  grid-template-rows: 0fr;
  visibility: hidden;
}

.is_state_open {
  grid-template-rows: 1fr;
}

.content {
  overflow: hidden; /* @TODO: while transitioning only */
}
